p{
    background-color: aqua;
}
div{
    background-color: rgb(255, 167, 167);
    
}
span{
    background-color: rgb(255, 173, 115);
}
a{
    background-color: deeppink;
}
form{
    background-color: aliceblue;
}